doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='module' src=scriptLink)
		script(src="https://kit.fontawesome.com/9f34627289.js")
	body
		block content
