nav(id="nav")
		div(class="row")
			div(id="user-links" class="nav-link")
				a(href="/users/createTodo") Create a Todo
				a(href="/profile") See your list
			div(id="profile-menu" class="nav-link")
				a(href="/logout") Logout