* {
	box-sizing: border-box;
}
body {
	background-color:#f2f2f2;
	margin:0;
	padding:0;
}
h1, h2, h3, h4 {
	color:#232323;
	font-family:arial;
	font-weight:900;
	text-transform: uppercase;
}
p, label, pre, div {
	color:darkgrey;
	font-family:times new roman;
	font-weight:500;
}
a, button {
	text-decoration: none;
	text-transform: uppercase;
}
nav {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:slategrey;
	padding:50px 36px;
}
nav a {
	color:lightgrey;
	padding:7px 16px;
}
nav a:hover {color:#f2f2f2;}
.wrapper {
	position:relative;
	top:0;
	left:0;
	width:100%;
	margin-top:100px;
	padding:50px;
}

#form {
	background-color:white;
	width:30%;
	margin:auto;
	border:1px solid black;
}
.row {
	display:flex;
	justify-content: space-between;
}
.formBut {
	background-color:white;
	display:block;
	width:50%;
	text-align:center;
	padding:20px;
	color:black;
	cursor: pointer;
}
.registrate {
	border-bottom:1px solid black;
	border-left:1px solid black;
	color:grey;
}
#loginForm, #registrateForm {
	min-height:500px;
	padding:50px;
}
#registrate {background-color:#f2f2f2;}
#registrateForm {display:none;}
#form input {
	width:100%;
	padding:2px 6px;
	font-size:16px;
	margin:5px 0;
	margin-bottom:15px;
}
#form button {
	display:block;
	width:50%;
	margin:auto;
	padding:5px 10px;
	text-align:center;
}
.nav-link {
	display:flex;
	flex-direction: row-reverse;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding:10px;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
table th p {color:#232323;}
table td p {color:grey;}
.delete {text-align:center;}
.green-light {
	background-color:green;
	border:none;
	padding:5px 10px;
	color:white;
	cursor: pointer;
}
.red-light {
	background-color:red;
	color:white;
	border:none;
	padding:5px 10px;
	cursor: pointer;
}
#formCreate {
	padding:0;
	display:block;
	min-width:300px;
	max-width:600px;
}
#formCreate input {
	width:100%;
	margin:15px 0;
	padding:5px 10px;
	display:block;
	font-size:16px;
}
#formCreate input:nth-child(1) {font-size:20px;}
#formCreate textarea {
	min-height:100px;
	max-height:300px;
	min-width:100%;
	max-width:100%;
	margin:15px 0;
	padding:5px 10px;
	font-size:14px;
	display:block;
}